@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: sans-serif;
  color: #778191;
  overflow: hidden;
}

#app {
  max-height: 100vh;
}

.tweet-container {
  max-height: 500px;
  overflow: scroll;
}

.themed.dark {
  color: yellow;
}

video {
  max-width: 60vw;
}
